html {
  width: 100%;
  font-family: monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  max-width: 70%;
  margin: auto;
  text-align: center;
  padding: 0;
  /*text-align: center;*/
}

#drawing-container{
  display: inline-block;
  border: 2px solid;
  margin: 0;
  padding: 0.5em;
  background-color: black;
  color: gray;
}

#drawing-area {
  display: inline-block;
  font-family: monospace;
  margin: 0;
  border: 0;
  padding: 0;
  resize: none;
  cursor: normal;
}

#drawing-area::selection,
#drawing-container::selection {
}

.bg {
  color: gray;
}

.I-tetronimo {
  color: white;
}

.O-tetronimo {
  color: #FF0000;
}

.L-tetronimo {
  color: #FFFF00;
}

.Z-tetronimo {
  color: orange;
}

.T-tetronimo {
  color: #0000FF;
}

.tripod-tetronimo {
  color: #00FF00;
}

.weird-tetronimo-1 {
  color: #00FFFF;
}

.weird-tetronimo-2 {
  color: #FF00FF;
}

button {
  font-family: monospace;
  line-height: 1em;
}
